body{

	font: 20px Arial, sans-serif;

}

.navbar {

	background-color: #086A87;
}

.quemsomos {

	background-color: #057439;
	color: white;

}

.parceiros {

	background-color: #05744D;
	color: white;

}

.servicos {

	background-color: #057464;
	color: white;

}

.margin {

	padding-bottom: 50px;
}

.bg-footer{

	background-color: black;
	color: white;

}